<h1>Posts</h1>

{{#if model}}
{{#each post in model}}
  <div class="post">
    <h4>{{post.title}}</h4>
    <div class="content">
      {{post.content}}
    </div>
    <br>
    <a {{action "deletePost" post}} style="color: red;">Delete</a>
  </div>
{{/each}}
{{else}}
  <h3>There are no posts! Try creating one.</h3>
{{/if}}

<br>

<h1>New Post</h1>
<form {{action "newPost" on="submit"}}>
  {{input class="post-title" type="text" placeholder="Title"}}
  {{input class="post-content" type="text" placeholder="Content"}}
  <button type="submit" name="button">Create Post</button>
</form>
